{% import '@PrestaShop/Admin/macros.html.twig' as ps %}

{% block contact_form %}
    {{ form_start(riderForm) }}
    <div class="card">
        <h3 class="card-header">
            {{ 'Rider'|trans({}, 'Modules.FavoriteRider.Admin') }}
        </h3>
        <div class="card-block row">
            <div class="card-text">
                {{ form_errors(riderForm) }}

                {% block quote_form_rest %}
                    {{ form_rest(riderForm) }}
                {% endblock %}
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ path('admin_favoriterider_riders_index') }}" class="btn btn-outline-secondary">
                {{ 'Cancel'|trans({}, 'Admin.Actions') }}
            </a>
            <button class="btn btn-primary float-right">
                {{ 'Save'|trans({}, 'Admin.Actions') }}
            </button>
        </div>
    </div>
    {{ form_end(riderForm) }}
{% endblock %}